
.titleHeader {
   font-weight: bold;
   font-size: 30pt;
   color: #D14414;
}

body {
    font-family: Arial Unicode MS;
    font-size: 11;
    word-wrap: break-word;
}

.sectionHeader{
    font-weight: bold;
    color: #D14414;
    text-align: center;
}

#myClass {
    color : blue;
}

.subHeader {
    background: ;
    font-weight: bold;
    color: #2EA393;
}

.recordText{
    color: #363636;
}

.titleLeftColumn {
    width:75%;
    padding: 5px;
}

.titleRightColumn {
    width:25%;
    padding: 5px;
}

.mainBodyLeftColumn {
    width:25%;
    padding: 5px;
}

.mainBodyRightColumn {
    width:75%;
    padding: 5px;
}

.signatureColumnLeft {
    width:50%;
    padding: 5px;
    border-right: 1px solid #363636;
}

.signatureColumnRight {
    width:50%;
    padding: 5px;
}