
.titleHeader {
   font-weight: bold;
   font-size: 27pt;
   color: #D14414;
}

body {
    font-family: Arial Unicode MS;
    font-size: 11;
    word-wrap: break-word;
}

.outcomesStarSectionHeader{
    font-weight: bold;
    color: #2EA393;
    text-align: center;
}

.actionPlanSectionHeader{
    font-weight: bold;
    color: #D14414;
    text-align: center;
}

#myClass {
    color : blue;
}

.subHeader {
    background: ;
    font-weight: bold;
    color: #2EA393;
}

.recordText{
    color: #363636;
}

.titleLeftColumn {
    width:70%;
    padding: 5px;
}

.titleRightColumn {
    width:30%;
    padding: 5px;
}

.mainBodyLeftColumn {
    width:25%;
    padding: 5px;
}

.mainBodyRightColumn {
    width:75%;
    padding: 5px;
}

.taskSectionHeader{
    font-weight: bold;
    color: #2EA393;
    text-align: center;
}

.taskTable {
    border: 0px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}


.taskTableColHeader1 {
    width: 70%;
    padding: 5px;
    color: #2EA393;    
}

.taskTableColHeader2 {
    width: 15%;
    padding: 5px;
    color: #2EA393;
}

.taskTableColHeader3 {
    width: 15%;
    padding: 5px;
    color: #2EA393;
}

.taskTableRow1 {
    width:60%;
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
    color: #363636;
}

.taskTableRow2 {
    width:18%;
    padding: 5px;   
    border-top: 1px solid black;
    border-bottom: 1px solid black;    
    color: #363636;
}

.taskTableRow3 {
    width:22%;
    padding: 5px;   
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
    color: #363636;
}

.signatureColumnLeft {
    width:50%;
    padding: 5px;
    border-right: 1px solid #363636;
}

.signatureColumnRight {
    width:50%;
    padding: 5px;
}
