.titleHeader {
   font-weight: bold;
   font-size: 30pt;
   color: #D14414;
}

body {
    font-family: Arial Unicode MS;
    font-size: 11;
    word-wrap: break-word;
}


.titleLeftColumn {
    width:75%;
    padding: 5px;
}

.titleRightColumn {
    width:25%;
    padding: 5px;
}

.riskSectionHeader{
    font-weight: bold;
    color: #D14414;
    text-align: center;
}

.riskTable {
    border: 0px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
}

.columnHeader1 {
    width: 25%;
    color: #2EA393;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.columnHeader2 {
    width: 32%;
    color: #2EA393;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.columnHeader3 {
    width: 32%;
    color: #2EA393;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.columnHeader4 {
    width: 11%;
    color: #2EA393;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tableRowClass1 {
    width: 25%;
    color: #363636;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.tableRowClass2 {
    width: 32%;
    color: #363636;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.tableRowClass3 {
    width: 32%;
    color: #363636;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.tableRowClass4 {
    width: 11%;
    color: #363636;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}


.recordText {
            color: #363636;
}



.approvalInfoLeftCol {
    width:35%;
    padding: 5px;
}

.approvalInfoRightCol {
    width:65%;
    padding: 5px;
}

table tr, table td {
   page-break-inside: avoid;
}

table {
   -fs-table-paginate: paginate;
   border: 1 black;
}
