 @page {
     size: A4 landscape;
  }

.titleHeader {
   font-weight: bold;
   font-size: 30pt;
   color: #D14414;
}

body {
    font-family: Arial Unicode MS;
    font-size: 11;
    word-wrap: break-word;
}

.recordText{
    color: #363636;
}

.titleLeftColumn {
    width:75%;
    padding: 5px;
}

.titleRightColumn {
    width:25%;
    padding: 5px;
}


/***********************************************
 * Styles for Page 1
 ***********************************************/

.row1Col1 {
    width: 20%;
    padding: 5px;
    background: #D14414;
}
.row1Col2 {
    width: 30%;
    padding: 5px;
}
.row1Col3 {
    width: 13%;
    padding: 5px;
    background: #D14414; 
}
.row1Col4 {
    width: 38%;
    padding: 5px;
}


.halfPageLeftColumn {
    width: 50%;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.halfPageRightColumn {
    width: 50%;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
}


.row3Col1 {
    width: 25%;
    padding: 5px;
    background: #D14414; 
}
.row3Col2 {
    width: 25%;
    padding: 5px;
}
.row3Col3 {
    width: 40%;
    padding: 5px;
    background: #D14414; 
}
.row3Col4 {
    width: 10%;
    padding: 5px;
}

.row5Col1 {
    width: 45%;
    padding: 5px;
    background: #D14414; 
}
.row5Col2 {
    width: 5%;
    padding: 5px;
}
.row5Col3 {
    width: 25%;
    padding: 5px;
    background: #D14414; 
}
.row5Col4 {
    width: 25%;
    padding: 5px;
}

.row7Col1 {
    width: 45%;
    padding: 5px;
    background: #D14414; 
}
.row7Col2 {
    width: 5%;
    padding: 5px;
}
.row7Col3 {
    width: 30%;
    padding: 5px;
    background: #D14414; 
}
.row7Col4 {
    width: 20%;
    padding: 5px;
}


.row9Col1 {
    width: 35%;
    padding: 5px;
    background: #D14414; 
}
.row9Col2 {
    width: 15%;
    padding: 5px;
}
.row9Col3 {
    width: 35%;
    padding: 5px;
    background: #D14414; 
}
.row9Col4 {
    width: 15%;
    padding: 5px;
}

.goalText {
    color:#FFFFFF;
        font-weight: bold;
    font-size: 14pt;
}

/***********************************************
 * Styles for Page 2
 ***********************************************/

.p2Row1Col1 {
    width: 20%;
    padding: 5px;
    background: #D14414; 
}
.p2Row1Col2 {
    width: 30%;
    padding: 5px;
}
.p2Row1Col3 {
    width: 15%;
    padding: 5px;
    background: #D14414; 
}
.p2Row1Col4 {
    width: 35%;
    padding: 5px;
}


.p2HalfPageLeftColumn {
    width: 50%;
    padding: 5px;
}

.p2HalfPageRightColumn {
    width: 50%;
    padding: 5px;
}

.p2Row3Col1 {
    width: 40%;
    padding: 5px;
    background: #D14414; 
}
.p2Row3Col2 {
    width: 10%;
    padding: 5px;
}
.p2Row3Col3 {
    width: 40%;
    padding: 5px;
    background: #D14414; 
}
.p2Row3Col4 {
    width: 10%;
    padding: 5px;
}

.p2Row5Col1 {
    width: 25%;
    padding: 5px;
    background: #D14414; 
}
.p2Row5Col2 {
    width: 25%;
    padding: 5px;
}
.p2Row5Col3 {
    width: 25%;
    padding: 5px;
    background: #D14414; 
}
.p2Row5Col4 {
    width: 25%;
    padding: 5px;
}

.p2Row7Col1 {
    width: 30%;
    padding: 5px;
    background: #D14414; 
}
.p2Row7Col2 {
    width: 20	%;
    padding: 5px;
}
.p2Row7Col3 {
    width: 30%;
    padding: 5px;
    background: #D14414; 
}
.p2Row7Col4 {
    width: 20%;
    padding: 5px;
}


.p2Row9Col1 {
    width: 35%;
    padding: 5px;
    background: #D14414; 
}
.p2Row9Col2 {
    width: 15%;
    padding: 5px;
}
.p2Row9Col3 {
    width: 35%;
    padding: 5px;
    background: #D14414; 
}
.p2Row9Col4 {
    width: 15%;
    padding: 5px;
}

/***********************************************
 * Styles for Page 3
 ***********************************************/

.p3Row2Col1 {
    width: 20%;
    padding: 5px;
    background: #000000; 
}
.p3Row2Col2 {
    width: 30%;
    padding: 5px;
}
.p3Row2Col3 {
    width: 23%;
    padding: 5px;
    background: #000000; 
}
.p3Row2Col4 {
    width: 28%;
    padding: 5px;
}

.p3Row3Col1 {
    width: 20%;
    padding: 5px;
    background: #000000; 
}
.p3Row3Col2 {
    width: 30%;
    padding: 5px;
}
.p3Row3Col3 {
    width: 23%;
    padding: 5px;
    background: #000000; 
}
.p3Row3Col4 {
    width: 28%;
    padding: 5px;
}


.p3Row5Col1 {
    width: 20%;
    padding: 5px;
    background: #000000; 
}
.p3Row5Col2 {
    width: 30%;
    padding: 5px;
}
.p3Row5Col3 {
    width: 23%;
    padding: 5px;
    background: #000000; 
}
.p3Row5Col4 {
    width: 28%;
    padding: 5px;
}

.signatureSectionSubHeading {
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
}

.signatureSectionRecordText {
    color:#363636;
    font-weight: bold;
    padding-left: 10px;
}